.profile {
    
    max-width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: auto auto;
    grid-template-areas: 
    'avatar .  readMore'
    '. . skills';
    &__imageContainer {
        margin: 0 auto;
        grid-area: avatar;
        padding: 25px;
    }
    &__img {
        object-fit: cover;
        width: 300px;
        height: 300px;
        border-radius: 100%;

    }
    &__alsoRead{
        grid-area: readMore;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__skills {
        grid-area: skills;
    }
    &__skill {
        display: flex;
        width: 250px;
        justify-content: flex-end;
        margin: 25px;
    }
    &__socialsList {
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-content: center;
    }
    .socialsItem {
        margin: 10px;
        a {
            color: $vibrant3;
        }
    }
    .socialsItem:hover {
        a {
            color: $vibrant1;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 500ms color
        }
    }
}


// Tablet
@media screen and (max-width: 1200px) {
    .profile  {
        grid-template-columns: minmax(40%,50%) minmax(40%,50%);
    grid-template-rows: auto auto auto;
        grid-template-areas: 'avatar readMore'
        '. skills'
        '. .';

        &__imageContainer{
            padding: 0px;
        }
        &__skills {
            text-align: center;
        }
}
}


// Phone
@media screen and (max-width: 600px) {
    .profile {
        display: flex;
        flex-direction: column;
    }
}